In [165]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [166]:
"""
data/ordertraf_final.csv   存放用户在下单前，对该物品的关注天数信息（犹豫期）ts  
data/ordertraf_count.csv   存放用户在下单前，对该物品的浏览次数信息 freq  


为减少极值影响，认为占用户数0.95percentile是衰减周期，  
例：若0.95的用户关注天数为10天，则该类物品在下单前一般浏览时间不超过10天,超过10天则兴趣度降为零
同样地，若0.95的用户浏览次数为20次，则该类物品在下单前一般浏览次数不超过20次  

percentile 设置对应参数 a  
"""

'\ndata/ordertraf_final.csv   存放用户在下单前，对该物品的关注天数信息（犹豫期）ts  \ndata/ordertraf_count.csv   存放用户在下单前，对该物品的浏览次数信息 freq  \n\n\n为减少极值影响，认为占用户数0.95percentile是衰减周期，  \n例：若0.95的用户关注天数为10天，则该类物品在下单前一般浏览时间不超过10天,超过10天则兴趣度降为零\n同样地，若0.95的用户浏览次数为20次，则该类物品在下单前一般浏览次数不超过20次  \n\npercentile 设置对应参数 a  \n'

In [167]:
data = pd.read_csv('data/ordertraf_final.csv',sep='\t')

In [168]:
data.head()

,cust_id,route_id,num,max_create_time,first_brow,last_brow,ts,freq,route_name,product_line_type_name,route_class_parent_name
0,75515305,210016087,1,2018-04-07 20:40:36,2018-04-07 20:35:53.94,2018-04-07 20:37:11.762,1,2,"<常州恐龙园-迪诺水镇1日游>含恐龙园大门票,纯玩无购物,一票畅玩",周边,跟团游
1,74857970,210016087,1,2018-04-10 21:30:30,2018-03-22 10:23:11.435,2018-04-10 21:26:44.63,20,8,"<常州恐龙园-迪诺水镇1日游>含恐龙园大门票,纯玩无购物,一票畅玩",周边,跟团游
2,67858701,210016465,1,2018-03-29 15:54:51,2018-03-29 22:55:43.558,2018-03-29 23:00:31.626,1,2,<张家界大峡谷玻璃桥-宝峰湖-天门山-凤凰汽车4日游>晚上出发 玩转神秘湘西 走2条心跳玻璃...,周边,跟团游
3,75440557,210016681,1,2018-04-04 17:57:39,2018-04-04 11:54:05.369,2018-04-04 17:35:52.584,1,4,"<南澳西冲1日游>西冲快艇 杨梅坑环海骑行,海边烧烤引爆味蕾的舌尖体验、海边戏水游玩",周边,跟团游
4,7000056,210016681,1,2018-04-03 17:18:50,2018-04-05 11:19:48.652,2018-04-05 11:29:58.757,0,4,"<南澳西冲1日游>西冲快艇 杨梅坑环海骑行,海边烧烤引爆味蕾的舌尖体验、海边戏水游玩",周边,跟团游

# 犹豫期ts分布

In [169]:
# ppercentile

a = 0.95

### 一级品类

In [170]:
gt = data.loc[(data.route_class_parent_name=='跟团游')&(data.ts>0),'ts']

In [171]:
gt.describe()

count    54959.000000
mean         4.384960
std          8.208173
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max         59.000000
Name: ts, dtype: float64

In [172]:
gt.quantile(a)

24.0

In [173]:
zz = data.loc[(data.route_class_parent_name=='自助游')&(data.ts>0),'ts']

In [174]:
zz.describe()

count    6133.000000
mean        4.663460
std         8.468654
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max        58.000000
Name: ts, dtype: float64

In [175]:
zz.quantile(a)

24.0

In [176]:
zj = data.loc[(data.route_class_parent_name=='自驾游')&(data.ts>0),'ts']

In [177]:
zj.describe()

count    4429.000000
mean        2.973583
std         6.201085
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        57.000000
Name: ts, dtype: float64

In [178]:
zj.quantile(a)

13.0

### 目的地大类

In [179]:
cc = data.loc[(data.product_line_type_name=='出境长线')&(data.ts>0),'ts']

In [180]:
cc.describe()

count    4276.000000
mean        8.149205
std        12.096327
min         1.000000
25%         1.000000
50%         1.000000
75%        10.000000
max        57.000000
Name: ts, dtype: float64

In [181]:
cc.quantile(a)

36.0

In [182]:
cd = data.loc[(data.product_line_type_name=='出境短线')&(data.ts>0),'ts']

In [183]:
cd.describe()

count    9865.000000
mean        5.718804
std         9.583479
min         1.000000
25%         1.000000
50%         1.000000
75%         5.000000
max        58.000000
Name: ts, dtype: float64

In [184]:
cd.quantile(a)

28.0

In [185]:
gc = data.loc[(data.product_line_type_name=='国内长线')&(data.ts>0),'ts']

In [186]:
gc.describe()

count    17693.000000
mean         4.125586
std          7.862783
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max         58.000000
Name: ts, dtype: float64

In [187]:
gc.quantile(a)

22.0

In [188]:
zb = data.loc[(data.product_line_type_name=='周边')&(data.ts>0),'ts']

In [189]:
zb.describe()

count    32488.000000
mean         3.540230
std          6.908648
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         59.000000
Name: ts, dtype: float64

In [190]:
zb.quantile(a)

18.0

## 交叉维度

In [191]:
routetypes = ['出境长线','出境短线','国内长线','周边']
producttypes=['跟团游','自助游','自驾游']

In [193]:
for route in routetypes:
    for product in producttypes:
        sample = data.loc[(data.product_line_type_name==route)&(data.route_class_parent_name==product)&(data.ts>0),'ts']
        print("-------{0}+{1}--------".format(route, product))
        print(sample.describe())
        print(" ")
        print('{0}分位数：'.format(a),sample.quantile(a))
        print(" ")

-------出境长线+跟团游--------
count    3871.000000
mean        8.352880
std        12.286313
min         1.000000
25%         1.000000
50%         1.000000
75%        11.000000
max        57.000000
Name: ts, dtype: float64

0.95分位数： 37.0

-------出境长线+自助游--------
count    325.000000
mean       6.593846
std       10.303779
min        1.000000
25%        1.000000
50%        1.000000
75%        7.000000
max       45.000000
Name: ts, dtype: float64

0.95分位数： 30.80000000000001

-------出境长线+自驾游--------
count     2.000000
mean      9.000000
std      11.313708
min       1.000000
25%       5.000000
50%       9.000000
75%      13.000000
max      17.000000
Name: ts, dtype: float64

0.95分位数： 16.2

-------出境短线+跟团游--------
count    7004.000000
mean        5.736722
std         9.752635
min         1.000000
25%         1.000000
50%         1.000000
75%         5.000000
max        58.000000
Name: ts, dtype: float64

0.95分位数： 29.0

-------出境短线+自助游--------
count    1751.000000
mean        6.264991
std         9.869869
min         1.000000
25%         1.000000
50%         1.000000
75%         7.000000
max        55.000000
Name: ts, dtype: float64

0.95分位数： 28.5

-------出境短线+自驾游--------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ts, dtype: float64

0.95分位数： nan

-------国内长线+跟团游--------
count    14629.000000
mean         4.175405
std          7.904483
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max         58.000000
Name: ts, dtype: float64

0.95分位数： 22.0

-------国内长线+自助游--------
count    2925.000000
mean        3.910085
std         7.701674
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        58.000000
Name: ts, dtype: float64

0.95分位数： 20.0

-------国内长线+自驾游--------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ts, dtype: float64

0.95分位数： nan

-------周边+跟团游--------
count    26904.000000
mean         3.633029
std          7.018150
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         59.000000
Name: ts, dtype: float64

0.95分位数： 19.0

-------周边+自助游--------
count    1132.000000
mean        3.578622
std         6.830524
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        54.000000
Name: ts, dtype: float64

0.95分位数： 19.0

-------周边+自驾游--------
count    4427.000000
mean        2.970861
std         6.198830
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        57.000000
Name: ts, dtype: float64

0.95分位数： 13.0

# 关注频次分布

## 单维度

In [153]:
data = pd.read_csv('data/ordertraf_count.csv',sep='\t')

In [154]:
data.head()

,cust_id,route_id,freq,route_name,product_line_type_name,route_class_parent_name
0,75266130,5037407,1,锦江之星(北京后海店),境内,酒店
1,75470414,5037407,6,锦江之星(北京后海店),境内,酒店
2,75560922,5037407,1,锦江之星(北京后海店),境内,酒店
3,75464075,5037664,1,如家快捷酒店(北京联想桥店),境内,酒店
4,74862224,5038733,1,如家快捷酒店(上海新国际博览中心民生路杨高中路地铁站店),境内,酒店

In [155]:
gt = data.loc[data.route_class_parent_name=='跟团游','freq']
print(gt.describe())
print('-------跟团游')
print(gt.quantile(a))

count    47339.000000
mean         6.597267
std          9.817231
min          1.000000
25%          2.000000
50%          4.000000
75%          8.000000
max       1076.000000
Name: freq, dtype: float64
-------跟团游
20.0

In [156]:
zz = data.loc[data.route_class_parent_name=='自助游','freq']
print(zz.describe())
print('-------自助游')
print(zz.quantile(a))

count    5399.000000
mean       13.885534
std        26.994652
min         1.000000
25%         3.000000
50%         7.000000
75%        15.000000
max       867.000000
Name: freq, dtype: float64
-------自助游
47.0

In [157]:
zj = data.loc[data.route_class_parent_name=='自驾游','freq']
print(zj.describe())
print('-------自驾游')
print(zj.quantile(a))

count    4061.000000
mean        7.870229
std         9.515694
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max       213.000000
Name: freq, dtype: float64
-------自驾游
24.0

In [158]:
cc = data.loc[data.product_line_type_name=='出境长线','freq']
print(cc.describe())
print('-------出境长线')
print(cc.quantile(a))

count    3367.000000
mean        9.703000
std        21.891735
min         1.000000
25%         2.000000
50%         6.000000
75%        12.000000
max      1076.000000
Name: freq, dtype: float64
-------出境长线
31.0

In [159]:
cd = data.loc[data.product_line_type_name=='出境短线','freq']
print(cd.describe())
print('-------出境短线')
print(cd.quantile(a))

count    8021.000000
mean       10.164069
std        19.565110
min         1.000000
25%         2.000000
50%         5.000000
75%        11.000000
max       867.000000
Name: freq, dtype: float64
-------出境短线
33.0

In [160]:
gc = data.loc[data.product_line_type_name=='国内长线','freq']
print(gc.describe())
print('-------国内长线')
print(gc.quantile(a))

count    14863.000000
mean         9.449102
std         14.292264
min          1.000000
25%          3.000000
50%          6.000000
75%         11.000000
max        410.000000
Name: freq, dtype: float64
-------国内长线
30.0

In [161]:
zb = data.loc[data.product_line_type_name=='周边','freq']
print(zb.describe())
print('-------周边')
print(cd.quantile(0.95))

count    29403.000000
mean         5.343298
std          6.039664
min          1.000000
25%          2.000000
50%          4.000000
75%          7.000000
max        213.000000
Name: freq, dtype: float64
-------周边
33.0

## 交叉维度

In [162]:
routetypes = ['出境长线','出境短线','国内长线','周边']
producttypes=['跟团游','自助游','自驾游']

In [163]:
for route in routetypes:
    for product in producttypes:
        sample = data.loc[(data.product_line_type_name==route)&(data.route_class_parent_name==product),'freq']
        print("-------{0}+{1}--------".format(route, product))
        print(sample.describe())
        print(" ")
        print('{0}分位数：'.format(a),sample.quantile(a))
        print(" ")

-------出境长线+跟团游--------
count    3042.000000
mean        9.498356
std        22.479473
min         1.000000
25%         2.000000
50%         5.000000
75%        11.000000
max      1076.000000
Name: freq, dtype: float64

0.95分位数： 30.0

-------出境长线+自助游--------
count    258.000000
mean      13.267442
std       16.572743
min        1.000000
25%        3.250000
50%        8.000000
75%       17.000000
max      111.000000
Name: freq, dtype: float64

0.95分位数： 44.299999999999955

-------出境长线+自驾游--------
count     2.000000
mean     11.000000
std       9.899495
min       4.000000
25%       7.500000
50%      11.000000
75%      14.500000
max      18.000000
Name: freq, dtype: float64

0.95分位数： 17.299999999999997

-------出境短线+跟团游--------
count    5577.000000
mean        8.274520
std        10.272338
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max       177.000000
Name: freq, dtype: float64

0.95分位数： 26.0

-------出境短线+自助游--------
count    1550.000000
mean       19.169677
std        38.354892
min         1.000000
25%         4.000000
50%         9.000000
75%        20.000000
max       867.000000
Name: freq, dtype: float64

0.95分位数： 66.54999999999995

-------出境短线+自驾游--------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: freq, dtype: float64

0.95分位数： nan

-------国内长线+跟团游--------
count    12162.000000
mean         8.605246
std         11.215143
min          1.000000
25%          2.000000
50%          5.000000
75%         11.000000
max        300.000000
Name: freq, dtype: float64

0.95分位数： 27.0

-------国内长线+自助游--------
count    2595.000000
mean       13.528709
std        23.594792
min         1.000000
25%         3.000000
50%         7.000000
75%        15.000000
max       410.000000
Name: freq, dtype: float64

0.95分位数： 43.0

-------国内长线+自驾游--------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: freq, dtype: float64

0.95分位数： nan

-------周边+跟团游--------
count    24330.000000
mean         4.865310
std          5.070985
min          1.000000
25%          2.000000
50%          3.000000
75%          6.000000
max        102.000000
Name: freq, dtype: float64

0.95分位数： 14.0

-------周边+自助游--------
count    996.000000
mean       6.752008
std        6.781422
min        1.000000
25%        2.000000
50%        5.000000
75%        9.000000
max       79.000000
Name: freq, dtype: float64

0.95分位数： 19.0

-------周边+自驾游--------
count    4059.000000
mean        7.868687
std         9.516516
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max       213.000000
Name: freq, dtype: float64

0.95分位数： 24.0